<a href="https://colab.research.google.com/github/bhavesh555/PySpark/blob/main/DataFraming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=9bf1a28b7c136d1c00027a182897de0353a2006db8c2c00ada663cb3839de155
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [23]:
import pyspark

In [24]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [25]:
spark

In [26]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark-With-Python-main/test1.csv',inferSchema=True)

In [27]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
df_pyspark = df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience'] + 2)

# Displaying the DataFrame to verify the changes
df_pyspark.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|Experience After 2 Years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [30]:
df_pyspark = df_pyspark.withColumn('Salary After 2 Years', df_pyspark['Salary'] + 2000)

In [31]:
df_pyspark.show()

+---------+---+----------+------+------------------------+--------------------+
|     Name|age|Experience|Salary|Experience After 2 Years|Salary After 2 Years|
+---------+---+----------+------+------------------------+--------------------+
|    Krish| 31|        10| 30000|                      12|               32000|
|Sudhanshu| 30|         8| 25000|                      10|               27000|
|    Sunny| 29|         4| 20000|                       6|               22000|
|     Paul| 24|         3| 20000|                       5|               22000|
|   Harsha| 21|         1| 15000|                       3|               17000|
|  Shubham| 23|         2| 18000|                       4|               20000|
+---------+---+----------+------+------------------------+--------------------+

In [32]:
df_pyspark = df_pyspark.drop('Experience After 2 Years')

In [33]:
df_pyspark.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Salary After 2 Years|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|               32000|
|Sudhanshu| 30|         8| 25000|               27000|
|    Sunny| 29|         4| 20000|               22000|
|     Paul| 24|         3| 20000|               22000|
|   Harsha| 21|         1| 15000|               17000|
|  Shubham| 23|         2| 18000|               20000|
+---------+---+----------+------+--------------------+